@import './lib/vuetify/settings/_colors'
$theme := {
	primary: $teal.darken-2
	accent: $red.accent-2
	secondary: $grey.lighten-1
	info: $blue.lighten-1
	warning: $amber.darken-2
	error: $red.accent-4
	success: $green.lighten-2
}
@import './lib/vuetify/main'
